<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>There is {{about}}</p>
        <img class="portrait" src="/img/flowers.png">
        <p>The weather page is created by Abi. It user maobox and darksky apis.</p>
    </div>
    {{>footer}}
</body>

</html>